In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ds = pd.read_csv("data.csv")

In [42]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23376 entries, 0 to 29450
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              23376 non-null  object
 1   UNDER_CONSTRUCTION     23376 non-null  int64
 2   RERA                   23376 non-null  int64
 3   BHK_NO.                23376 non-null  int64
 4   BHK_OR_RK              23376 non-null  object
 5   SQUARE_FT              23376 non-null  float64
 6   READY_TO_MOVE          23376 non-null  int64
 7   RESALE                 23376 non-null  int64
 8   ADDRESS                23376 non-null  object
 9   TARGET(PRICE_IN_LACS)  23376 non-null  float64
 10  CITY                   23376 non-null  object
dtypes: float64(2), int64(5), object(4)
memory usage: 2.6+ MB

In [4]:
#We found problem in our opinion
#SQUARE_FT - Range 300 - 3000 SqFt
#Address - Split, City
#Longitude, Latitude

array(['Owner', 'Dealer', 'Builder'], dtype=object)

In [9]:
#Remove columns
ds = ds.drop(columns=["LATITUDE", "LONGITUDE"])

In [14]:
#Outliers remove based on SQUARE_FT
for i in ds.index:
    if ds.loc[i, "SQUARE_FT"] > 3000 or ds.loc[i, "SQUARE_FT"] < 300:
        ds.drop(i, inplace = True)

In [17]:
#Outliers remove based on TARGET(PRICE_IN_LACS)
for i in ds.index:
    if ds.loc[i, "TARGET(PRICE_IN_LACS)"] > 120 or ds.loc[i, "TARGET(PRICE_IN_LACS)"] < 3:
        ds.drop(i, inplace = True)

In [22]:
for i in ds.index:
    ds.loc[i, "SQUARE_FT"] = round(ds.loc[i, "SQUARE_FT"], 2)

In [32]:
ds['CITY'] = ds['ADDRESS'].str.split(",").str.get(-1).str.strip()
# for i in ds.index:
#     address = ds.loc[i, "ADDRESS"]
#     city = address.rsplit(',')[-1]
#     print(address, "-", city)
# for column in ds.columns:
#     print("-------------")
#     print(column)
#     print(sorted(ds[column].unique()))

In [41]:
for i in ds.index:
    address = ds.loc[i, "ADDRESS"]
    city = ds.loc[i, "CITY"]
    address = address.replace("," + city, "")
    ds.loc[i, "ADDRESS"] = address

In [44]:
ds.to_csv("cleaned_data.csv")