In [1]:
import numpy as np
import pandas as pd

In [2]:
ds = pd.read_csv("cleaned_data.csv")

In [4]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23376 entries, 0 to 23375
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             23376 non-null  int64
 1   POSTED_BY              23376 non-null  object
 2   UNDER_CONSTRUCTION     23376 non-null  int64
 3   RERA                   23376 non-null  int64
 4   BHK_NO.                23376 non-null  int64
 5   BHK_OR_RK              23376 non-null  object
 6   SQUARE_FT              23376 non-null  float64
 7   READY_TO_MOVE          23376 non-null  int64
 8   RESALE                 23376 non-null  int64
 9   ADDRESS                23376 non-null  object
 10  TARGET(PRICE_IN_LACS)  23376 non-null  float64
 11  CITY                   23376 non-null  object
dtypes: float64(2), int64(6), object(4)
memory usage: 2.1+ MB

In [6]:
X = ds[['POSTED_BY', 'UNDER_CONSTRUCTION', 'RERA', 'BHK_NO.',
        'BHK_OR_RK', 'SQUARE_FT', 'READY_TO_MOVE', 'RESALE','CITY']]

In [7]:
y = ds[['TARGET(PRICE_IN_LACS)']]

In [11]:
X.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,CITY
0,Owner,0,0,2,BHK,1300.24,1,1,Bangalore
1,Dealer,0,0,2,BHK,1275.00,1,1,Mysore
2,Owner,0,0,2,BHK,933.16,1,1,Bangalore
3,Owner,0,1,2,BHK,929.92,1,1,Ghaziabad
4,Dealer,1,0,2,BHK,999.01,0,1,Kolkata